<div class="w-full flex flex-col relative h-screen bg-gray-950 overflow-hidden">
    <!-- Your Custom Logo -->
    <div class="absolute top-8 left-8">
        <span class="text-4xl font-bold bg-gradient-to-r from-purple-600 via-red-500 to-orange-500 text-transparent bg-clip-text">
            Achalugo.ai
        </span>
    </div>

    <!-- Message Section -->
    <div class="flex-1 overflow-y-auto pb-[7rem]">
        <div class="flex flex-col gap-2 mx-auto w-full lg:w-[45rem] p-4">
            <div
                class="bg-purple-800 backdrop-blur-sm rounded-tr-none text-right text-white p-3 rounded-3xl max-w-fit ml-auto whitespace-pre-wrap break-words">
                Hello 
            </div>
            <!-- AI generated content -->
            <markdown [data]="'Hi'" [lineHighlight]="true" [lineNumbers]="true"
                class="prose prose-invert text-white max-w-none custom-markdown"></markdown>

            <!-- Loading -->
            <div class="flex justify-center py-4">
                <ng-icon name="heroArrowPath" class="w-6 h-6 text-gray-400 animate-spin" />
            </div>
        </div>
    </div>

    <!-- Prompt Input Component -->
    <div class="sticky flex flex-col w-full pb-3 z-20 bottom-0 px-4">
        <div
            class="flex flex-col gap-1 mx-auto w-full md:w-[35rem] lg:w-[45rem] p-3 bg-gray-950 rounded-xl lg:rounded-3xl border-[1px] border-gray-500">
            <!-- Prompt Input field -->
            <textarea 
                class="w-full resize-none min-h-[4rem] overflow-y-auto bg-transparent outline-none text-gray-300 placeholder-gray-400"
                name="prompt-input" 
                id="prompt-input" 
                placeholder="Message Achalugo"
            ></textarea>

            <div class="flex items-center justify-between">
                <!-- Add Media -->
                <button
                    class="flex justify-center items-center cursor-pointer hover:bg-gray-600 hover:text-gray-500 h-[2rem] w-[2rem] rounded-full border-[1px] border-gray-500">
                    <ng-icon name="heroXMark" class="text-gray-400" />
                </button>

                <!-- Send Prompt -->
                <button
                    class="flex justify-center items-center cursor-pointer disabled:bg-gray-700 hover:bg-gray-600 hover:text-gray-300 h-[2rem] w-[2rem] rounded-full border-[1px] border-gray-500">
                    <ng-icon name="heroPaperAirplaneSolid" class="text-gray-400" />
                </button>
            </div>
        </div>
    </div>
</div>